<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

  <input type="text" name="prodname" value="{{a.productname}}"><br>
  <input type="number" name="price" value="{{a.price}}"><br>
  <input type="text" name="des" value="{{a.discription}}"><br>
    <img src="{% static im %}" height="200px" width="200px"><br>
    <input type="file" name="image"><br>
    <button type="submit">update</button>

</form>

</body>
</html>